.reasons {
  font-size: 0;
  position: relative;
}

.reasons__header {
  @include after-intro__header;
  padding-top: 29px;
  padding-bottom: 0;
  @media ($tablet-width) {
    font-size: 21px;
    padding: 38px 15% 20px;
  }
  @media ($desktop-width) {
    padding: 5px 20% 20px;
  }
}

.reasons__title {
  @include after-intro__title;
  @media ($tablet-width) {
    font-size: 21px;
  }
}

.reasons__description {
  @include after-intro__description;
  padding-top: 15px;
  padding-bottom: 0;
}
