.video {
  width: 320px;
  height: 201px;
  margin: 0 auto;
  position: relative;

  background-image: url("../img/video-mobile@1x.jpg");
  background-color: #81b3d2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 110px;
}
