.welcome-index {
  background: url("../img/bg-back-mobile@1x.jpg");
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 27px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 322px 27px;
    background-position-x: -1px;
  }
}

.welcome-index__image {
  padding-top: 90px;
  padding-bottom: 83px;
  display: block;
  margin: 0 auto;
  width: 282px;
  height: 214px;
  @media ($tablet-width) {
    width: 460px;
    height: 350px;
    padding-top: 80px;
    padding-bottom: 87px;
  }

  @media ($desktop-width) {
    padding-top: 78px;
    padding-bottom: 92px;
  }
}
